{% extends 'main/general.html' %}
{% load static %}
{% block title %}Главная{% endblock %}

{% block body %}
<script>
    const urlParams = new URLSearchParams(window.location.search);
    if (!urlParams.has('timezone')) {
        const userTimeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
        const url = new URL(window.location.href);
        url.searchParams.set('timezone', userTimeZone);
        window.location.href = url;
    }
    function openPopup() {
        document.querySelector('.popup').style.display = 'flex';
    }
    function closePopup() {
        document.querySelector('.popup').style.display = 'none';
    }
</script>

<div class="sidebar">
    <div class="menu-item-home">
       <img src="{% static 'main/images/home.png' %}" alt="Главная">
    </div>
    <div class="menu-item">
        <a href="{% url 'google_calendar_init' %}"><img src="{% static 'main/images/calendar.png' %}" alt="Календарь"></a>
    </div>
    <div class="menu-item">
        <a href="{% url 'notes' %}"><img src="{% static 'main/images/notes.png' %}" alt="Заметки"></a>
    </div>
    <div class="bottom_sidebar">
        {% if current_login != "Undefined" %}
        <div class="menu-item">
            <a href="{% url 'logout' %}"> <img src="{% static 'main/images/logout.png' %}" alt="Выйти"></a>
        </div>
        {%else%}
         <div class="menu-item">
            <a href="{% url 'login' %}"> <img src="{% static 'main/images/login.png' %}" alt="Войти"></a>
        </div>
        {%endif%}
    </div>
</div>

<div class="main-content">
    <!-- Приветствие -->
    <div class="greeting">
        {% if current_login == "Undefined" %}
            {% if current_time == "Утро" %}
                <p class="hello">Доброе утро!</p>
            {% elif current_time == "День" %}
                <p class="hello">Добрый день!</p>
            {% else %}
                <p class="hello">Добрый вечер!</p>
            {% endif %}
        {% else %}
            {% if current_time == "Утро" %}
                <p class="hello">Доброе утро, {{ current_login }}!</p>
            {% elif current_time == "День" %}
                <p class="hello">Добрый день, {{ current_login }}!</p>
            {% else %}
                <p class="hello">Добрый вечер, {{ current_login }}!</p>
            {% endif %}
        {% endif %}
    </div>

    <div class="content-wrapper">
    <div class="left-content">
        <div class="calendar-wrapper">
            <button id="btnPrev" type="button">Предыдущий</button>
            <button id="btnNext" type="button">Следующий</button>
            <div id="divCal"></div>
        </div>
        <div class="image-wrapper">
            <img src="{% static 'main/images/cat.png' %}" alt="Кот">
        </div>
    </div>

    <div class="right-content">
        <div class="tasks-today">
            <h3>Задачи на сегодня</h3>
            <button class="add-task" onclick="openPopup()">Добавить задачу</button>
            <div class="checkbox-container">
                {% if tasks %}
                    {% for task in tasks %}
                        <div class="checkbox-item">
                            <label>
                                <input type="checkbox" />
                                {{ task.text }}
                            </label>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="no_task">Нет задач на сегодня.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>


<!-- Попап для добавления задач -->
<div class="popup" style="display: none;">
    {% if current_login != "Undefined" %}
    <h3>Добавить задачу</h3>
    <form action="{% url 'add_task' %}" method="post">
        {% csrf_token %}
        <input type="text" id="taskName" name="taskName" class="input-task" placeholder="Введите задачу" />
        <button type="submit" class="save-task">Сохранить</button>
    </form>
    {% else %}
    <p>Войдите, чтобы добавлять задачи</p>
    <button onclick="closePopup()" class="close-popup">Вернуться</button>
    {% endif %}
</div>

</div>
 <script>
     var Cal = function(divId) {
  //Сохраняем идентификатор div
  this.divId = divId;
  // Дни недели с понедельника
  this.DaysOfWeek = [
    'Пн',
    'Вт',
    'Ср',
    'Чт',
    'Пт',
    'Сб',
    'Вс'
  ];
  // Месяцы начиная с января
  this.Months =['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'];
  //Устанавливаем текущий месяц, год
  var d = new Date();
  this.currMonth = d.getMonth();
  this.currYear = d.getFullYear();
  this.currDay = d.getDate();
};
// Переход к следующему месяцу
Cal.prototype.nextMonth = function() {
  if ( this.currMonth == 11 ) {
    this.currMonth = 0;
    this.currYear = this.currYear + 1;
  }
  else {
    this.currMonth = this.currMonth + 1;
  }
  this.showcurr();
};
// Переход к предыдущему месяцу
Cal.prototype.previousMonth = function() {
  if ( this.currMonth == 0 ) {
    this.currMonth = 11;
    this.currYear = this.currYear - 1;
  }
  else {
    this.currMonth = this.currMonth - 1;
  }
  this.showcurr();
};
// Показать текущий месяц
Cal.prototype.showcurr = function() {
  this.showMonth(this.currYear, this.currMonth);
};
// Показать месяц (год, месяц)
Cal.prototype.showMonth = function(y, m) {
  var d = new Date()
  // Первый день недели в выбранном месяце
  , firstDayOfMonth = new Date(y, m, 7).getDay()
  // Последний день выбранного месяца
  , lastDateOfMonth =  new Date(y, m+1, 0).getDate()
  // Последний день предыдущего месяца
  , lastDayOfLastMonth = m == 0 ? new Date(y-1, 11, 0).getDate() : new Date(y, m, 0).getDate();
  var html = '<table>';
  // Запись выбранного месяца и года
  html += '<thead><tr>';
  html += '<td colspan="7">' + this.Months[m] + ' ' + y + '</td>';
  html += '</tr></thead>';
  // заголовок дней недели
  html += '<tr class="days">';
  for(var i=0; i < this.DaysOfWeek.length;i++) {
    html += '<td>' + this.DaysOfWeek[i] + '</td>';
  }
  html += '</tr>';
  // Записываем дни
  var i=1;
  do {
    var dow = new Date(y, m, i).getDay();
    // Начать новую строку в понедельник
    if ( dow == 1 ) {
      html += '<tr>';
    }
    // Если первый день недели не понедельник показать последние дни предыдущего месяца
    else if ( i == 1 ) {
      html += '<tr>';
      var k = lastDayOfLastMonth - firstDayOfMonth+1;
      for(var j=0; j < firstDayOfMonth; j++) {
        html += '<td class="not-current">' + k + '</td>';
        k++;
      }
    }
    // Записываем текущий день в цикл
    var chk = new Date();
    var chkY = chk.getFullYear();
    var chkM = chk.getMonth();
    if (chkY == this.currYear && chkM == this.currMonth && i == this.currDay) {
      html += '<td class="today">' + i + '</td>';
    } else {
      html += '<td class="normal">' + i + '</td>';
    }
    // закрыть строку в воскресенье
    if ( dow == 0 ) {
      html += '</tr>';
    }
    // Если последний день месяца не воскресенье, показать первые дни следующего месяца
    else if ( i == lastDateOfMonth ) {
      var k=1;
      for(dow; dow < 7; dow++) {
        html += '<td class="not-current">' + k + '</td>';
        k++;
      }
    }
    i++;
  }while(i <= lastDateOfMonth);
  // Конец таблицы
  html += '</table>';
  // Записываем HTML в div
  document.getElementById(this.divId).innerHTML = html;
};
// При загрузке окна
window.onload = function() {
  // Начать календарь
  var c = new Cal("divCal");
  c.showcurr();
  // Привязываем кнопки «Следующий» и «Предыдущий»
  getId('btnNext').onclick = function() {
    c.nextMonth();
  };
  getId('btnPrev').onclick = function() {
    c.previousMonth();
  };
}
// Получить элемент по id
function getId(id) {
  return document.getElementById(id);
}
 </script>

{% endblock %}
