{% extends 'main/general.html' %}
{% load static %}
{% block title %}Start{% endblock %}

{% block body %}

{% if current_login != "Undefined" %}
    <div class="profile-container">
        <img class="userbutton2" src="{% static 'main/images/userAnon.png' %}" alt="Пользователь" width="28" height="28">
        <p class="current">{{ current_login }}</p>
    </div>
    <div class="empty"></div>
    <div class="allnotes">
        {% if not shortnotes %}
        <p class="no-notes">У вас пока нет заметок</p>  <!-- Сообщение, если нет заметок -->
        {% else %}
            {% for note in shortnotes %}
            <p class="notes">
                <!-- Ссылка на страницу с полной заметкой -->
                <a class="und" href="{% url 'go_note' note.id %}">{{ note.text }}</a>
                <a href="{% url 'delete' note.id %}"><img class="delete_note" src="{% static 'main/images/delete.png' %}" alt="Удалить" width="30" height="30"></a>
            </p>
            {% endfor %}
        {% endif %}
    </div>
    <a href="{% url 'new_note' %}"><img class="newnote" src="{% static 'main/images/new_note.png' %}" alt="Новая заметка" width="50" height="50"></a>

<div class="sidebar">
    <div class="menu-item">
        <a href="{% url 'main' %}"><img src="{% static 'main/images/home.png' %}" alt="Главная"></a>
    </div>
    <div class="menu-item">
        <a href="{% url 'google_calendar_init' %}"><img src="{% static 'main/images/calendar.png' %}" alt="Календарь"></a>
    </div>
    <div class="menu-item">
        <a href="{% url 'notes' %}"><img src="{% static 'main/images/notes.png' %}" alt="Заметки"></a>
    </div>
    <div class="bottom_sidebar">
        <div class="bottom_sidebar">
        {% if current_login != "Undefined" %}
        <div class="menu-item">
            <a href="{% url 'logout' %}"> <img src="{% static 'main/images/logout.png' %}" alt="Выйти"></a>
        </div>
        {%else%}
         <div class="menu-item">
            <a href="{% url 'login' %}"> <img src="{% static 'main/images/login.png' %}" alt="Войти"></a>
        </div>
        {%endif%}
    </div>
</div>
{% endif %}
{% if current_login == "Undefined" %}
<script>
    alert("Войдите или зарегистрируйтесь, чтобы просмотреть свои заметки");
    window.location.replace("/");
</script>
{%endif%}
{% endblock %}
